div[class*="contain"]{
    width: 100%;
    min-width: 980px;
    margin: 0;
    padding: 0;
    border: 1px black solid;
  }

.header{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    border: 1px black solid;
}
.header > img{
    width: 70px;
    height: 75px;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 0;
    margin: 0;
}

.header > ul {
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    right: 0px;
    border: 1px black solid;
    padding: 0;
    margin: 0;

}
.header ul li{
    float: right;
    font: 14px "宋体",sans-serif;
    margin: 0 14px;
}
.header ul li:first-child{
    margin-right: 0;
}
.contain1{
    position: relative;
}
.contain1 > img{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
    bottom: 0;
}

.contain2{
    height: 500px;
    background: url(C:/Users/luminqi/Task0001/img/background.jpg) no-repeat;
    background-size:100% 100%;
    position: relative;
}

.box1{
    position: absolute;
    right: 185px;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0););
}
