div[class*="contain"]{
    width: 100%;
    min-width: 980px;
    margin: 0;
    padding: 0;
  }

.header{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.header > img{
    width: 70px;
    height: 75px;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 0;
    margin: 0;
}

.header > ul {
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    right: 0px;
    padding: 0;
    margin: 0;

}
.header ul li{
    float: right;
    font: 14px "宋体",sans-serif;
    margin: 0 14px;
}
.header ul li:first-child{
    margin-right: 0;
}
.contain1{
    position: relative;
}
.contain1 a img{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
    bottom: 0;
}
@media screen and (max-width:1220px) {
    .contain1 a img{
        display: none;
    }
}
.contain2{
    height: 500px;
    background: url(C:/Users/luminqi/Task0001/img/background.jpg) no-repeat;
    background-size:100% 100%;
    position: relative;
}

.box1{
    position: absolute;
    right: 185px;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.5) 75%,rgba(255, 255, 255, 0));
    padding: 10px 10px 30px;
    width:400px;
    color: white;
}
.box1 > h1{
    font: 14px "宋体",sans-serif;
    padding: 0;
    margin: 0;
    float: right;
}
.box1  p{
    font: 12px/150% "宋体",sans-serif;
    clear:both;
    text-indent: 2em;
    padding-top: 12px;
}
.contain3{
    height: 500px;
    background-color: #E6E6FA;
}
.subcon{
    width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
}
.subcon div[class*="box"]{
    width: 320px;
    font: 12px/170% "宋体",sans-serif;
    margin-top: 10px;
    background: white;
}
.box3{
    margin-left: 10px;
    margin-right: 10px;
}

.subcon img{
    width: 300px;
    height: 180px;
    margin: 10px;
}

.subcon p{
    text-indent: 2em;
    margin: 5px 30px 25px;
}

.contain4{
    height: 500px;

}

.contain4 img{
     width: 160px;
     height: 160px;
     border-radius: 50%;
     display: block;
     margin: -50px auto 0 auto;
}
.contain4 h1{
    font: 20px "Century Gothic",sans-serif;
    display: table;
    margin: 50px auto 0;
}
.contain4 p{
    font:14px "Century Gothic",sans-serif;
    width: 600px;
    text-align: justify;
    text-indent: 2em;
    margin: 40px auto 0;
}
.contain5{
    background: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
}
.contain5 ul{
    overflow: hidden;
    display: table;
    margin: 0 auto;
    font: 12px "宋体",sans-serif;
}
.contain5 li{
    float: right;
    margin: 12px;
}
.contain6{
    background: black;
    color: white;
    font: 12px "宋体",sans-serif;
    border: 1px slid green;
}
.subcon2{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.contain6 ul{
    float: left;
    list-style-type: none;
    width: 196px;
    box-sizing: border-box;

}
.contain6 li:hover{
    text-decoration: underline;
}
.contain6 li:first-child{
    margin-bottom: 30px;
}

/*blog*/
.contain7 {
    height: 1500px;
    background-color: #E6E6FA;
}
.subcon3{
    width:980px;
    margin: 0 auto;
    padding-top: 20px;
}
.mainbar{
    width: 710px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    float: left;
}
div[class*="blog"]{
    background: white;
    margin-bottom: 10px;
    padding: 20px 10px 10px;
    position: relative;
}

.mainbar h1{
    font: 16px "宋体",sans-serif;
    color: purple;
}
.mainbar h2{
    font: 12px "宋体",sans-serif;
    color: #666;
}
.mainbar p{
    font: 12px/150% "宋体",sans-serif;
    text-indent: 2em;
    text-align: justify;
    padding-bottom: 20px;
}
.mainbar span{
    font: 12px "宋体",sans-serif;
    color: #D3D3D3;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.sidebar{
    width: 260px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    float: right;
}
.search{
    height: 80px;
    background: white;
    margin-bottom: 10px;

}
.item{
    height: 200px;
    background: white;
    margin-bottom: 10px;
}
.date{
    height: 240px;
    background: white;
    margin-bottom: 10px;
}
.tags{
    height: 175px;
    background: white;
    margin-bottom: 10px;
}
.search input{
    font: 12px "宋体",sans-serif;
    padding: 12px;
    margin: 0;
}
.item ul{
  margin: 0;
  padding: 0;
}
.item li{
    list-style-type: none;
    width: 100%;
    border-left: 3px solid #D8BFD8;
    border-top: 1px solid #D8BFD8;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    /*父元素高度确定的垂直居中通过设定height和line-height一致达成*/
    font: 14px "宋体",sans-serif;
    line-height: 50px;
    padding-left: 3em;
}
.item li:hover{
  border-left-color: purple;
}
